html, body{
    background-color: #facfe1;
    font-size: calc(1rem+1vw);
}

img{
  max-width: 40%;
  height: auto;
    width: 30%;
    min-width: 3%;
    left: 35%;
    text-align: center;
    align-items: center;
    position: relative;
    background-color: #f6b1cb;
    margin-top: 100px;
    margin-bottom: 130px;
    border-radius: 20px;
    box-shadow: #00FFD5 0px 0px 20px, #002BFF 0px 0px 40px, #FF00C8 0px 0px 60px;
    animation: formGlow 20s ease infinite;
    border-radius: 20px;

}

@keyframes formGlow {
    0% {
        box-shadow: #ff86cf 0px 0px 10px, #f45f5f 0px 0px 30px, #fa3fd1 0px 0px 60px;
    }
    50% {
        box-shadow: #fa5757 0px 0px 10px, #fa53a4 0px 0px 30px, #fac67d 0px 0px 60px;
    }
    100% {
        box-shadow: #f850a4 0px 0px 10px, #f270fe 0px 0px 30px, #fa76dd 0px 0px 60px;
    }

}
.text {
  position: relative;
  color: rgb(20, 1, 1);
}

.topcenter {
  position: relative;
  top: 0;
  top: 30px;
  text-align: center;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
  color: rgb(113, 3, 60);
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: rgb(241, 237, 237);
}
.bottomcenter {
  position: relative;
  top: 90px;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 15px;
  color: rgb(19, 19, 19);

}
.middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 15px;
  font: bold;
}
hr {
  margin: auto;
  width: 40%;
}
time{
    font-size: 20px;
}
/* phones */
@media (max-width: 600) {
  .card-container {
    flex-direction: column;
  }
}