/* BASE STYLES */
body{
  background-color: #fef5f9;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
.title{
  align-items: center;
  text-align: center;
  color: #e2035c;
}
.section-p1{
  padding: 30px 30px;
}
.section-m1{
  padding: 40px 0px;
}
h1{
  font-size: 35px;
  color: #fc1672;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 17px;
}
h4{
  font-size: 17px;
  margin-bottom: 5px;
}
p{
  font-size: 15px;
  margin: 2px 2px;
  text-align: justify;
}
span{
  font-size: 15px;
  text-align: justify;
}



/* TOP NAVIGATION */
header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background:#fef5f9;
  box-shadow: 0 1px 15px rgb(251, 194, 223);
  z-index: 999;
  top: 0;
  left: 0;
  position: sticky;
}
.logo{
  width: 60px;
  cursor: pointer;
  display:flex;
}

.logo:hover {
  background-color: #f9a5c7;
  border-radius: 15px;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  list-style: none;
  background-color: #fef5f9;
  overflow: hidden;
  margin-right: 10px;
}
.topnav li{
  display:inline-block;
}
/* Style the links inside the navigation bar */
.topnav li a {
  transition: all 0.3 ease 0s;
  color: #fd5799;
  text-decoration: none;
  font-size: 17px;
  padding: 5px 5px;
}

/* Change the color of links on hover */
.topnav li a:hover {
  background-color: #f9a5c7;
  border-radius: 40px;
  color: black;
  padding: 10px 10px;
}
/* ICON FONT AWESOME */
.material-symbols-outlined {
  color: #fd5799;
  transition: all 0.3 ease 0s;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}
.material-symbols-outlined:hover {
  color: #340116;
  background-color: #f9a5c7;
  border-radius: 50px;
  padding: 10% 0px;
}

#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}

/* MEDIA QUERIES */
/* MAX WIDTH */
@media (max-width:1920px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 200px;
    background-color: #fef5f9;
    box-shadow: 1px 40px 60px rgb(251, 194, 223);
    padding: 50px 0 0 20px;
    transition: 0.3s;
  }
  .topnav.active {
    left: 0;
  }
  .topnav li {
    margin-top: 25px;
  }
  #mobile {
    display: flex;
    cursor: pointer;
  }
  #close {
    display: initial;
    position: absolute;
    padding: 10px 10px;
    font-size: 28px;
    top: 10px;
    right: 10px;
  }
  #product1 .pro-container{
    justify-content: center;
  }
}

/* IPAD */
@media (max-width:1024px) {
  .section-p1{
    padding: 40px 40px;
  }
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 200px;
    background-color: #fef5f9;
    box-shadow: 1px 40px 60px rgb(251, 194, 223);
    padding: 50px 0 0 20px;
    transition: 0.3s;
  }
  .topnav.active {
    left: 0;
  }
  .topnav li {
    margin-top: 25px;
  }
  #mobile {
    display: flex;
    cursor: pointer;
  }
  #banner1{
    height: 70vh;
    padding: 0 50px;
    background-position: top 40% right 50%;
  }
  #banner2{
    height: 70vh;
    padding: 0 50px;
    background-position: top 50% right 65%;
    text-align: right;
  }
  #close {
    display: initial;
    position: absolute;
    padding: 10px 10px;
    font-size: 28px;
    top: 10px;
    right: 10px;
  }
  #product1 .pro-container{
    justify-content: center;
  }
  #product1 .pro{
    margin: 15px;
  }
  
}
/* IPHONE */
@media (max-width: 420px) {
  #header{
    padding: 10px 30px;
  }
  h1{
    font-size: 25px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 13px;
  }
  h4 {
    font-size: 13px;
  }
  #banner1{
  padding: 0 10px;
  background-position: 50%;
  }
  #banner2{
  padding: 0 10px;
  background-position: 30%;
  }
  .bannerh1{
  font-size: 25px;
  }
  .bannerh2{
  font-size: 15px;
  }
  .bannerh3{
  font-size: 13px;
  }

  /* Product Page */
  #pro-detail{
    display: flex;
    flex-direction: column;
  }
  #pro-detail .single-pro-img{
    width: 100%;
    margin-right: 0;
  }
  #pro-detail .single-pro-desc{
    width: 100%;
    padding-top: 20px;
  }
}


/* HOME PAGE */

/* BANNER 1*/
#banner1{
  background-image: url("/images/items/multi\ ring\ -\ bg\ 1.png");
  width: 100%;
  height: 80vh;
  background-size: cover;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bannerbutton{
  border: 0;
  color: #fd1388;
  padding: 20px 20px;
  font-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 600;
  background-color: #fed0e6;
  box-shadow: #fe448e;
  border-radius: 90px;
  margin-top: 10px;
}
.bannerbutton:hover{
  background-color: #f28db6;
  color: #ffffff;
  box-shadow: #f9a5c7;
}

.bannerh1{
  font-size: 35px;
  margin-bottom: 3px;
}
.bannerh2{
  font-size: 20px;
  color: #fbfafa;
  background-color: #fe45b7;
  border-radius: 50px;
  padding: 10px;
}
.bannerh3{
  font-size: 17px;
  margin-bottom: 15px;
  color: #1f201d;
}


/* Popular Now */
.popular{
  font-size: x-large;
  font-weight: 600;
  margin: 0 40px;
}
.shop-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.popular{
  border: 0;
  color: #fd1388;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  background-color: #fed0e6;
  box-shadow: #fe448e;
  border-radius: 90px;
}
button.popular:hover{
  background-color: #f28db6;
  color: #ffffff;
  box-shadow: #f9a5c7;
}
.pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 15px;
  border: 1px solid #fdcde1;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 20px #fcbed6;
  margin: 15px;
  position: relative;
}
#product1 .pro:hover{
  background-color: #fcbbd5;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 15px 15px 20px #fbcbde;
}
#product1 .pro img{
  width: 100%;
  border-radius: 15px;
}
#product1 .pro .description{
  margin-top: 10px;
  text-align: start;
  padding: 10px 0;
  margin-bottom: 15px;
}

#product1 .pro .description span{
  font-size: 15px;
  color: #fd5799;
}
#product1 .pro .description h4{
  padding: 5px 0;
  font-size: 17px;
  margin-bottom: 15px;
}
.price{
  font-size: 15px;
  color: #fb66a2;
  align-items:end ;
  position: absolute;
  margin-top: 10px;
  bottom: 15px;
}

/* BANNER 2*/
#banner2{
  background-image: url("/images/items/hairclip-bg.png");
  width: 100%;
  height: 90vh;
  background-size: cover;
  padding: 0 25px;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: center;
}
.bannerbutton{
  border: 0;
  color: #fd1388;
  padding: 20px 20px;
  font-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 600;
  background-color: #fde2ef;
  box-shadow: #fe448e;
  border-radius: 90px;
  margin-top: 10px;
}
.bannerbutton:hover{
  background-color: #f28db6;
  color: #ffffff;
  box-shadow: #f9a5c7;
}

/* NEWSLETTER */
#newsletter {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #f6cee5;
}

#newsletter h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fd1388;
}

#newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

#newsletter .form {
  display: flex;
  justify-content: center;
}

#newsletter .form input {
  padding: 10px;
  border: none;
  outline: none;
  border: 1px solid #fd1388;
  border-radius: 5px 0 0 5px;
}

#newsletter .form button {
  padding: 10px 20px;
  background-color: #fd1388;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
#newsletter .form button:hover {
  background-color: #d10054;
}

/* FOOTER */
footer {
  background-color: #fef5f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  background-color: #fef5f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .col h4{
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 600;
  color: #e2035c;
}

footer .col p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
#footer .img-footer{
  width: 100px;
  margin-bottom: 10px;
}
.copyright{
  font-size: 12px;
  align-items: center;
  margin: 50px 20px;
}
.follows{
  justify-content: space-between;
  margin-top: 30px;
}
.icon{
  width: 110px;
  justify-content: space-between;
  display:flex;
  flex-direction: row;
  padding-right: 10px;
}




/* ABOUT PAGE */
  .about, .about:before, .about:after {
  margin: 40px;
  justify-items: center;
}

.row{
  box-sizing:inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.column:hover{
  background-color: rgb(253, 233, 236);
}
.img-card{
  padding: 10px;
}

.namecard{
  font-size: large;
  font-weight: 600;
  margin-top: 10px;
}
.desc-card{
  margin-top: 10px;
  margin-bottom: 10px;
}
.job{
  font-style: italic;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button-card {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(243, 242, 242);
  background-color: #ffaaaa;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-card:hover {
  background-color: #fc6262;
}



/* SHOP PAGE */

/* BANNER 1*/
#bannershop{
  background-image: url("/images/Pretty\ Posh\ -\ Banner1.png");
  width: 100%;
  height: 25vh;
  background-size: cover;
  padding: 0 30px;
  background-position: left 50% top 50%;
}
.shop-btn{
  border: none;
  outline: 0;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(253, 76, 129);
  text-align: right;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 1px;
}

/* SINGLE PRODUCT */
#pro-detail{
  display: flex;
  margin-top: 20px;
}

#pro-detail .single-pro-img{
  width: 40%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#pro-detail .single-pro-desc{
  width: 50%;
  padding-top: 30px;
}
#pro-detail .single-pro-desc h2{
  font-size: 25px;
  font-weight: 600;
  color: #e2035c;
}
#pro-detail .single-pro-desc h3{
  padding: 40px 0 20px 0;
  font-weight: 600;
}
#pro-detail .single-pro-desc h4{
  padding: 40px 0 20px 0;
}
#pro-detail .single-pro-desc .pro-desc{
  text-align: justify;
  font-size: 16px;
}
#specification{
  font-weight: 600;
}
#pro-detail .single-pro-desc select{
  display: block;
  padding: 5px 10px;
  border: 1px solid #fcdeea;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #ff277d;
}
#pro-detail .single-pro-desc select option{
  color: #ff277d;
  background-color: #faedf2;
}
#pro-detail .single-pro-desc input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
  border: 1px solid #fdcde1;
  border-radius: 5px;
    color: #ff277d;
}
#pro-detail .single-pro-desc input:focus{
  outline: none;
}
#pro-detail .single-pro-desc button{
  padding: 10px 20px;
  color: white;
  background-color: #ff3b89;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}